<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../resources/css/main_style.css">

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="#">JH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navBar">
          <ul class="navbar-nav mr auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../resources/img/Resume" target="_blank">Resume</a>
            </li>
            <li class='nav-item'>
              <a class="nav-link" href="projects.html">Projects</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/Houghelpuff" target="_blank">GitHub</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="jumbotron-fluid">
      <div class="container">
        <p class="p_space_lg"></p>
        <h1 class="display-1 abt_header"><b>About me</b></h1>
        <p class="p_space_lg"></p>
      </div>
    </div>

    <br>

    <div class="container-fluid d-flex justify-content-center">
      <div class="col-7">
        <p class="profile_desc" style="font-size: 120%;">
          Hi there! I'm Jacob Hough! I'm currently studying computer science at the University of Colorado 
          in Boulder. I'm highly interested in system security and software development. I think the future 
          is in technology and I love that I get to be a part of the evolving generation of tech. A few interesting things
          about me: I was born and raised here in Colorado (specifically Fort Lupton and Longmont) and I decided to not go too far
          and that wound me up here in Boulder! I love photography and music. I've played trumpet for the better part of 9 years now
          and in those 9 years, I've participated in all sorts of ensembles ranging from jazz bands, concert or classical bands, to marching bands.
          I'm still playing on my own time and in the CU marching band! I graduated from Longmont High School in 2017 and thus began my journey. 
          So far I've taken plenty of CS classes that have vastly expanded my knowledge on just how powerful machines today have gotten. Some of those classes
          include Intro to Computing, Data Structures, Systems, and Software Development Methods and Tools. Those are my cores, but I've learned plenty of 
          applicable things along the way! Some other skills I have in my arsenal:
        </p>
          <ul class="abt_list">
            <li class="abt_list">Languages: C++, Python, HTML5, CSS, Bootstrap, BASH, Git</li>
            <li class="abt_list">GitHub</li>
            <li class="abt_list">Adobe Photoshop/Adobe Lightroom</li>
            <li class="abt_list">GDB</li>
            <li class="abt_list">American Sign Language</li>
          </ul>
        </p>
      </div>
    </div>

    <p class="p_space_lg"></p>
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>