<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../resources/css/main_style.css">
  </head>

  <body>
      <header>
          <nav class="navbar navbar-expand-lg navbar-custom">
            <a class="navbar-brand" href="#">JH</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navBar">
              <ul class="navbar-nav mr auto">
                <li class="nav-item">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../resources/img/Resume.pdf" target="_blank">Resume</a>
                </li>
                <li class='nav-item active'>
                  <a class="nav-link" href="views/projects.html">Projects<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about_me.html">About me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/Houghelpuff" target="_blank">GitHub</a>
                </li>
              </ul>
            </div>
          </nav>
        </header>

          <div class="container-fluid d-flex justify-content-center top_padding">
            <div class="card card_style text-center">
              <div class="card-header"></div>
              <div class="card-body">
                <h1 class="card-header">@theRealShayon</h1>
                <!--<img src="../resources/img/the_real_ss" class="the_real_style">-->
                <a class="twitter-timeline twitter_frame_font" data-height="400" data-theme="dark" href="https://twitter.com/theRealShayon?ref_src=twsrc%5Etfw">Tweets by theRealShayon</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <p class="card-text" style="padding-top:10px;">This was a Data Structures (CSCI 2270) project that a partner, Nick Hanselman and I collaborated to create.
                  the objective was to use any data structure we liked in a creative way. And boy did we get creative. The main program was written in C++
                   but we used a script written in python to push to Twitter. We used a graph data structure 
                  as a Markov Chain to generate sentences based off things our data structures professor said in lecture. First, the program would read a 
                  text file in and would store each unique word in the graph. Probabilities of how often each word occurred after it's parent were calculated 
                  and used to traverse through the graph using a sudo-random method of finding a path and generating the sentence. It would then output the 
                  finished sentence to a file and a script my partner wrote in python using the Twitter API would take the file, read it and Tweet it 
                  to the Twitter account we had set up. 
                </p>
                <a href="https://github.com/Houghelpuff/theRealShayon" class="btn btn-outline-primary" target="_blank">GitHub Repo</a>
                <a href="https://twitter.com/theRealShayon" class="btn twitter_btn space_between_btn" target="_blank">Twitter to @theRealShayon</a>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>
          <div class="container-fluid d-flex justify-content-center top_padding">
            <div class="card card_style text-center">
              <div class="card-header"></div>
              <div class="card-body">
                <h1 class="card-header">The Library Project</h1>
                <a href="https://github.com/Houghelpuff/LibraryProject">
                  <img src="../resources/img/library.jpg" class="projects_pics" alt="library pic">
                </a>
                <p class="card-text" style="padding:10px;">
                  This was a project for my Intro to Computing class. THe objective was to create a library system that took in a list of books,
                  authors, and users and put them all into arrays that were all accessible through a menu system made by us. All of the header files 
                  and the cpp file were written from scratch. It was written entirely in C++. There isn't a UI for it (yet ;) ) as that was beyond the scope
                  of what we were doing in the class. But at the time, it really challenged my understanding of efficiency, how the code should be structured,
                  and all my fundamentals surrounding arrays, classes, and what data types to use. It's sort of simplistic and yet somewhat complicated 
                  considering it was a project for an Intro class. 
                </p> 
                <a href="https://github.com/Houghelpuff/LibraryProject" class="btn btn-outline-primary" target="_blank">GitHub Repo</a>
              </div>
            </div>
          </div>
          <div class="container-fluid d-flex justify-content-center top_padding">
            <div class="card card_style text-center">
              <div class="card-header"></div>
              <div class="card-body">
                <h1 class="card-header">SmashHub</h1>
                <a href="https://github.com/Houghelpuff/SmashHub">
                  <img src="../resources/img/smash_hub.png" class="projects_pics" alt="Smash Hub">
                </a>
                <p class="card-text" style="padding: 10px;">
                  My team and I made this at the 5th annual HackCU Hackathon. I've been a big fan of Super Smash Bros. for quite some time now.
                  My partner came up with an idea to make some sort of tournament bracket generator. We planned on having different profiles for 
                  different people playing and we would store all their stats in JSON files that the application would read on load. We also decided
                  to try something new since it was the Hackathon because that's the time to do it! So we made the application using Electron.js. 
                  This posed a few issues as we had never used it before and neither of us had really delved into any sort of JavaScript which would be 
                  needed for what we wanted to do. This was solved pretty quick over the course of the event. We hope to implement some sort of database
                  to store all the data at some point as well as clean up the front end, but this was all done in 20 hours!  
                </p>
                <a href="https://github.com/Houghelpuff/SmashHub" class="btn btn-outline-primary" target="_blank">GitHub Repo</a>
              </div>
            </div>
          </div>
          <div class="container-fluid d-flex justify-content-center top_padding">
            <div class="card card_style text-center">
              <div class="card-header"></div>
              <div class="card-body">
                <h1 class="card-header">Houghelpuff.io</h1>
                <a href="https://houghelpuff.github.io">
                  <img src="../resources/img/collage.png" class="projects_pics" alt="Smash Hub">
                </a>
                <p class="card-text" style="padding: 10px;">
                  This website is the first multi-page website I've built from scratch. From the DOCTYPE tag to the CSS, I've styled it myself and 
                  been through many trial and error processes. I used some help from the Bootstrap library, but I've written all the tags, descriptions,
                  and did all the file structuring myself. I actively update as I learn new things and try to make this website the best I can. It is not only
                  a professional tool, but it's a creative project for me as well. 
                </p>
                <a href="https://github.com/Houghelpuff/houghelpuff.github.io" class="btn btn-outline-primary" target="_blank">GitHub Repo</a>
                <a href="https://houghelpuff.github.io" class="btn btn-outline-primary">Home Page</a>
              </div>
            </div>
          </div>
          <p class="p_space_lg"></p>
          
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>