body {
  background-color: #474747;
}

.profile_back_img{
  background-image: url('../img/container_back.png');
  background-size: cover;
  background-repeat: no-repeat;

}

.profile_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.navbar_back {
  background-color: #fa1818;
}

.profile_back {
  height: 725px;
  border-radius: 5px;
}

.name_header {
  color: white;
}

.profile_desc {
  color: white;
}

.navbar-custom {
  background-color: #3a3a3a;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255, 255, 255, 0.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff80;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ec98e8;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited { 
  color: white;
  border-color: #ec98e8;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: #ec98e8;
}

.space_between_btn{
  margin-left: 10px;
}
